.titulo-primario {
    color: #707070;
    font-size: 24px;
}

.lista-principal {
    background-color: #707070;
}

.lista-principal li{
    color: white;
}

.lista-principal .item-importante {
    color: aqua;
}

body {
    background-color: black;
}